/* Be sure to create a styles directory and put this file in there */
/* @import "tips.css"; */
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

body {
  background-color: FFF1E7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Ruthie";
  font-size: 70px;
}

/* header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	/* height:20%;
	width: 20%; */
/* } */

/* header h1 {
	line-height: 1em;
	color: darkblue;
	text-align: left;
	/* height:20%;
	width: 20%; */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: rgb(100, 128, 128);
  display: flex;
  justify-content: flex-end;
}

nav li {
  display: inline;
  margin: 0 1em;
}

nav a {
  color: white;
}

nav a:hover {
  color: lightsalmon;
}
nav a:active {
  color: lightgreen;
}

.fishTank {
  margin: 4em 0;
  display: flex;
}

#fishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fish-card {
  background-color: #96D0CD;
  margin: 2em;
  width: 200px;
  height: 330px;
  color: #ffff;
}

.fish-card ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0.2em;
  font-size: 0.8em;
}

.fish-image {
  width: 200px;
  height: 120px;
}

.section-main {
  margin: 1em;
}

footer {
  background-color: darkcyan;
  color: whitesmoke;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
